.header {
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: stretch;
}

.info {
    padding: var(--padding-compact) var(--padding);
    border-bottom: var(--border-style);
    flex-grow: 1;
    display: flex;
}

.nav {
    display: flex;
    border-bottom: var(--border-style);
}

.link {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: var(--padding-compact) var(--padding);
    border-left: var(--border-style);
    transition: background-color var(--transition-quick) ease-in-out;
}

.link:hover {
    background-color: var(--color-nav-button-hover);
}

.link:active {
    background-color: inherit;
}

.link.active {
    box-shadow: var(--shadow-light-inset);
    background-color: var(--color-nav-button-active);
}

@media (prefers-reduced-motion: reduce) {
    .link {
        transition: none;
    }
}

.logo {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
}
.name {
    font-weight: 600;
}

@media only screen and (min-width: 480px) {
    @supports (backdrop-filter: blur()) {
        .header {
            background-color: var(--glass-color);
            backdrop-filter: blur(var(--glass-blur));
        }
    }
}