.sketch {
    position: relative;
    width: 100%;
}

.sketch :global(.react-p5) > canvas {
    object-fit: scale-down;
    width: 100% !important;
    height: 100% !important;
    max-width: 500px;
}

.sketch :global(.react-p5) > canvas:nth-child(n+2) {
    object-fit: scale-down;
    width: 10% !important;
    height: 10% !important;
    border: red solid 2px;
}