/*
 * Can't use var in media queries, so the breakpoints are as follows:
 * Mobile: 480px
 */

/* Root Styles and Variables */
:root, [data-theme="light"] {
    /* Text */
    --font-family: 'Work Sans';
    --root-font-size: 18px;
    --compact-line-height: 1.1;
    --paragraph-line-height: calc(1.2rem + 0.7vw);
    --paragraph-width: 55ch;
    font-size: var(--root-font-size);
    --bold-weight: 600;

    /* Colors */
    --color-background: hsl(200 8% 95%);
    --color-background-accent: hsl(200 8% 90%);
    --color-text: hsl(200 8% 15%);

    /* --color-primary-hue: 210; */
    --color-primary-hue: 195;
    /* --color-primary: hsl(var(--color-primary-hue) 100% 61%); */
    --color-primary: hsl(var(--color-primary-hue) 66% 53%);
    --color-tag-background: var(--color-primary);
    --color-tag-text: hsl(200 8% 15%);

    --color-nav-button: var(--color-background);
    --color-nav-button-active: var(--color-background-accent);
    --color-nav-button-hover: hsl(200 8% 94%);

    /* Sizes */
    --padding: 12px;
    --padding-compact: 6px;
    --gap: 12px;
    --min-column-width: 300px;
    --narrow: 1024px;

    /* Border */
    --border-color: hsl(200 8% 15% / 40%);
    --border-width: 1px;
    --border-style: solid var(--border-color) var(--border-width);
    --border-radius: calc(var(--padding-compact) * 2 + 1rem);

    /* Shadow */
    --shadow-light: 0 2px 4px -2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.08);
    --shadow-light-inset: inset 0 4px 4px rgba(0, 0, 0, 0.12);
    --shadow-primary-inset: inset 0 0 24px -16px var(--color-primary), var(--shadow-light-inset);

    /* Glass Effect */
    --glass-color: hsl(200 8% 98% / 60%);
    --glass-blur: 10px;

    /* Animation */
    --transition-quick: 200ms;
    --perspective: 50cm;
    --button-hover-brightness: 130%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family), sans-serif;
    font-size: calc(1rem + 0.2vw);
    line-height: var(--compact-line-height);
    position: relative;
    overflow-x: hidden;
}

/* Resetting */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

/* Responsive (Fluid) Text */
h1 {
    font-size: calc(1.2rem + 3vw);
    line-height: 1;
    text-decoration: var(--color-primary) underline;
}

h2 {
    font-size: calc(1rem + 2vw);
}

h3 {
    font-size: calc(1rem + 1.6vw);
}

h4 {
    font-size: calc(1rem + 1.2vw);
}

h5 {
    font-size: calc(1rem + 0.8vw);
}

h6 {
    font-size: calc(1rem + 0.4vw);
}

p {
    line-height: var(--paragraph-line-height);
}

p + p {
    margin-top: 1em;
}