.examples {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    max-width: var(--narrow);
}

.examples-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 300px));
    grid-template-rows: auto;
    justify-content: center;
    gap: calc(var(--gap) * 4) var(--gap);
}

.examples-heading {
    font-size: calc(1rem + 1.2vw);
    text-align: center;
}