.link, .link:hover, .link:active {
    color: inherit;
    text-decoration: inherit;
}

.figure {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 200ms ease-in-out transform;
    box-shadow: var(--shadow-light);
    border-radius: var(--border-radius);
}

.image {
    box-shadow: var(--shadow-light);
    border: var(--border-style);
    object-fit: scale-down;
    object-position: center;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transition: 200ms ease-in-out filter;
}

.caption {
    border: var(--border-style);
    border-top: none;
    padding: var(--padding);
    text-align: center;
    font-weight: var(--bold-weight);
    box-shadow: var(--shadow-light-inset);
    background-color: var(--color-background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.link:hover .image {
    filter: brightness(110%);
}

@media (prefers-reduced-motion: no-preference) {
    .link:hover .figure {
        transform: translateY(-12px);
    }
}